{% extends 'base.html.twig' %}

{% block title %}Liste des albums{% endblock %}

{% block body %}
    <h1>Liste des albums</h1>
    <ul>
        {% for album in albums %}
            <li><a href="{{ path('album_show', {id: album.id}) }}">{{ album.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}